@use "button-styling-filled-neutral" as bsfn;

@mixin btn-classic {
  @include bsfn.btn-filled-neutral;

  &::before {
    border: var(--btn-outline) solid var(--clr-ink-20);
  }
}

@mixin input-btn-classic {
  @include bsfn.input-btn-filled-neutral;

  outline: var(--btn-outline) solid var(--clr-ink-20);
  outline-offset: calc(-1 * var(--btn-outline));
}
