@use "utils";

:root {
  --btn-rounding: 4px;
  --btn-outline: 2px;
}

button {
  -webkit-tap-highlight-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

@mixin btn-basic {
  --btn-col-comps: var(--col-on-surface-comps);

  --btn-col-bg: transparent;
  --btn-col-bg-hover: hsla(var(--btn-col-comps), 10%);
  --btn-col-bg-active: hsla(var(--btn-col-comps), 20%);
  --btn-col-outline: transparent;
  --btn-col-outline-hover: transparent;
  --btn-col-outline-active: transparent;
  --btn-col-content: var(--col-on-surface);
  --btn-col-content-hover: var(--col-on-surface);
  --btn-col-content-active: var(--col-on-surface);

  color: var(--btn-col-content);
  background-color: var(--btn-col-bg);
  border-radius: var(--btn-rounding);
  transition: background-color 0.1s, border-color 0.1s, color 0.1s;
  border: var(--btn-outline) solid var(--btn-col-outline);

  &:hover,
  &:focus-visible {
    color: var(--btn-col-content-hover);
    background-color: var(--btn-col-bg-hover);
    border-color: var(--btn-col-outline-hover);
  }
  &:active {
    color: var(--btn-col-content-active);
    background-color: var(--btn-col-bg-active);
    border-color: var(--btn-col-outline-active);
  }
}
.btn-basic {
  @include btn-basic;
}

@mixin btn-subtle {
  @include btn-basic;
  --btn-col-bg: transparent;
  --btn-col-bg-hover: transparent;
  --btn-col-bg-active: transparent;
  --btn-col-content: var(--col-on-surface);
  --btn-col-content-hover: hsla(var(--col-on-surface-comps), 100%);
  --btn-col-content-active: hsla(var(--col-on-surface-comps), 70%);
}
.btn-subtle {
  @include btn-subtle;
}

@mixin btn-outline {
  @include btn-basic;
  --btn-col-outline: hsla(var(--btn-col-comps), 20%);
  --btn-col-outline-hover: hsla(var(--btn-col-comps), 20%);
  --btn-col-outline-active: hsla(var(--btn-col-comps), 20%);
}
.btn-outline {
  @include btn-outline;
}

@mixin btn-accent {
  @include btn-basic;
}
.btn-accent {
  @include btn-accent;
  --btn-col-bg: hsla(var(--col-accent-comps), 100%);
  --btn-col-bg-hover: hsla(var(--col-accent-comps), 90%);
  --btn-col-bg-active: hsla(var(--col-accent-comps), 80%);
  --btn-col-content: var(--col-on-accent-strong);
  --btn-col-content-hover: var(--col-on-accent-strong);
  --btn-col-content-active: var(--col-on-accent-strong);
}

@mixin btn-content-icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  & > .iconify {
    color: inherit;
    font-size: 1.2rem;
  }
}
.btn-content-icon {
  @include btn-content-icon;
}

@mixin btn-content-icon-text {
  // TODO: This layout is *still* affected by borders :/, maybe a rectangle with
  // borders should be done with a relatively positioned puesdo-element (on the
  // button)?

  @include utils.row;
  height: 32px;
  display: grid;
  grid-template-columns: 32px auto;
  & > .iconify {
    grid-column: 1;
    color: inherit;
    font-size: 1.2rem;
    justify-self: center;
    align-self: center;
  }
  & > p {
    grid-column: 2;
    color: inherit;
    margin-right: 8px;
  }
}
.btn-content-icon-text {
  @include btn-content-icon-text;
}
