@use "button-styling" as button-styling;

@mixin btn-hover {
  @include button-styling.btn-base;

  &::before {
    transition: background-color 0.05s;
  }

  &:hover,
  &:focus-visible {
    &::before {
      background-color: var(--clr-ink-10);
    }
  }

  &:active {
    &::before {
      background-color: var(--clr-ink-20);
    }
  }

  &:disabled,
  &[disabled] {
    &::before {
      background-color: transparent;
    }
  }
}
@mixin input-btn-hover {
  @include button-styling.input-btn-base;
  transition: background-color 0.05s;

  &:hover,
  &:focus-visible {
    background-color: var(--clr-ink-10);
  }

  &:active {
    background-color: var(--clr-ink-20);
  }

  &:disabled,
  &[disabled] {
    opacity: 50%;
    background-color: transparent;
  }
}
