@use "button-styling" as button-styling;

@mixin btn-filled-neutral {
  @include button-styling.btn-base;

  &::before {
    transition: background-color 0.05s;
    background-color: var(--clr-ink-10);
  }

  &:hover,
  &:focus-visible {
    &::before {
      background-color: var(--clr-ink-20);
    }
  }

  &:active {
    &::before {
      background-color: var(--clr-ink-30);
    }
  }

  &:disabled,
  &[disabled] {
    &::before {
      background-color: transparent;
      border: var(--btn-outline) solid var(--clr-ink-10);
    }
  }
}

@mixin input-btn-filled-neutral {
  @include button-styling.input-btn-base;

  transition: background-color 0.05s;
  background-color: var(--clr-ink-10);

  &:hover,
  &:focus-visible {
    background-color: var(--clr-ink-20);
  }

  &:active {
    background-color: var(--clr-ink-30);
  }

  &:disabled,
  &[disabled] {
    opacity: 50%;
    background-color: transparent;
    outline: var(--btn-outline) solid var(--clr-ink-20);
    outline-offset: calc(-1 * var(--btn-outline));
  }
}
