:root {
  --btn-rounding: 0.25rem;
  --btn-outline: 1px;
}

@mixin btn-base {
  --clr-content: var(--clr-ink-80);
  position: relative;

  & > * {
    // Button content should display over ::before puesdo-element (used for
    // background).
    z-index: 1;
  }

  // Use puesdo-element for the button's styling so any border doesn't
  // contribute to the final size.
  &::before {
    // Background should display underneath any other content.
    z-index: 0;

    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    border-radius: var(--btn-rounding);
  }

  &:disabled,
  &[disabled] {
    > * {
      opacity: 50%;
    }
  }
}

@mixin input-btn-base {
  // For inputs, we cannot use puesdo-elements. So borders may cause size
  // to be 1px (or --btn-outline) larger than the content desired unfortunately.
  border-radius: var(--btn-rounding);

  // Do not set opacity to 50% when disabled here, because we can't target the
  // input button's text alone.
}
