@mixin text {
  @include utils.row;
  justify-content: center;
  > p {
    color: var(--color-content);
  }
}

@mixin text-icon {
  @include utils.row;
  justify-content: center;
  > p {
    color: var(--color-content);
  }
  > .iconify {
    color: var(--color-content);
  }
}
