@use "utils";

@mixin text {
  > p {
    color: var(--content-color);
    transition: color var(--content-color-transition);
  }
}

@mixin text-icon {
  > p,
  > svg {
    color: var(--content-color);
    transition: color var(--content-color-transition);
  }
}
