@forward "button";
@forward "button-styling-classic";
@forward "button-styling-filled-neutral";
@forward "button-styling-filled";
@forward "button-styling-hover";
@forward "button-styling";
@forward "input";
@forward "input-styling";
@forward "input-styling-filled-neutral";
@forward "link";
@forward "select-styling";
@forward "select-styling-filled-neutral";
@forward "text";
@forward "theme";
@forward "utils";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

div,
a,
dialog,
main,
section,
header,
footer,
aside,
button,
body {
  display: flex;
  flex-direction: column;
}
dialog:not([open]) {
  display: none;
}
