@mixin dialog {
  border: none;
  background-color: var(--color-paper-30);

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  max-width: 100%;
  max-height: 100%;

  box-shadow: 0 0.5rem 3rem var(--color-shadow-20);

  // Separated to support old Safari?
  &::backdrop {
    background-color: var(--color-shadow-20);
  }
  dialog + .backdrop {
    background-color: var(--color-shadow-20);
  }
}
