@mixin init-input-styling {
  :root {
    --input-rounding: 0.25rem;
    --input-outline: 2px;
    --input-outline-disabled: var(--input-outline);
  }
}

@mixin input-base {
  border-radius: var(--input-rounding);
}
