a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

@mixin link {
  --link-col: var(--col-accent);

  color: var(--link-col);
  text-decoration: underline transparent;
  transition: text-decoration-color 0.1s;
  outline: none;

  &:hover,
  &:focus-visible {
    text-decoration: underline var(--link-col);
  }
}
.link {
  @include link;
}
