a {
  color: inherit;
  font: inherit;
  text-decoration: none;

  -webkit-tap-highlight-color: transparent;
}

@mixin link {
  display: inline;
  color: var(--clr-accent);
  text-decoration: underline transparent;
  transition: text-decoration-color 0.1s;
  outline: none;

  &:hover,
  &:focus-visible {
    text-decoration: underline var(--clr-accent);
  }
}
