@use "theme";

:root {
  --font-default: sans-serif;
  --line-spacing: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font-default);
  font-size: 1rem;
  font-weight: normal;
  line-height: calc(1em + var(--line-spacing));

  &::before,
  &::after {
    content: "";
    margin-top: calc(var(--line-spacing) / -2);
    height: 0;
    display: block;
  }
}

i,
em,
b,
strong,
span {
  font: inherit;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

@mixin one-line {
  & > :is(h1, h2, h3, h4, h5, h6, p) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 0.25em;
  }
  &::after {
    content: "";
    margin-bottom: -0.25em;
    height: 0;
    display: block;
  }
}
