@use "sass:meta";
@import "../../override.scss";

$clr-custom-names: () !default;
$clr-custom-light: () !default;
$clr-custom-dark: () !default;

@mixin gen-paper-swatches($theme, $paper-function) {
  --clr-#{$theme}-paper-0: #{meta.call($paper-function, 0)};
  --clr-#{$theme}-paper-10: #{meta.call($paper-function, 10)};
  --clr-#{$theme}-paper-20: #{meta.call($paper-function, 20)};
  --clr-#{$theme}-paper-30: #{meta.call($paper-function, 30)};
}
@mixin gen-ink-swatches($theme, $ink-function) {
  --clr-#{$theme}-ink-100: #{meta.call($ink-function, 100)};
  --clr-#{$theme}-ink-90: #{meta.call($ink-function, 90)};
  --clr-#{$theme}-ink-80: #{meta.call($ink-function, 80)};
  --clr-#{$theme}-ink-70: #{meta.call($ink-function, 70)};
  --clr-#{$theme}-ink-60: #{meta.call($ink-function, 60)};
  --clr-#{$theme}-ink-50: #{meta.call($ink-function, 50)};
  --clr-#{$theme}-ink-40: #{meta.call($ink-function, 40)};
  --clr-#{$theme}-ink-30: #{meta.call($ink-function, 30)};
  --clr-#{$theme}-ink-20: #{meta.call($ink-function, 20)};
  --clr-#{$theme}-ink-10: #{meta.call($ink-function, 10)};
}

@mixin gen-theme($theme) {
  --clr-paper-0: var(--clr-#{$theme}-paper-0);
  --clr-paper-10: var(--clr-#{$theme}-paper-10);
  --clr-paper-20: var(--clr-#{$theme}-paper-20);
  --clr-paper-30: var(--clr-#{$theme}-paper-30);

  --clr-ink-100: var(--clr-#{$theme}-ink-100);
  --clr-ink-90: var(--clr-#{$theme}-ink-90);
  --clr-ink-80: var(--clr-#{$theme}-ink-80);
  --clr-ink-70: var(--clr-#{$theme}-ink-70);
  --clr-ink-60: var(--clr-#{$theme}-ink-60);
  --clr-ink-50: var(--clr-#{$theme}-ink-50);
  --clr-ink-40: var(--clr-#{$theme}-ink-40);
  --clr-ink-30: var(--clr-#{$theme}-ink-30);
  --clr-ink-20: var(--clr-#{$theme}-ink-20);
  --clr-ink-10: var(--clr-#{$theme}-ink-10);

  --clr-accent: var(--clr-#{$theme}-accent);
  --clr-on-accent: var(--clr-#{$theme}-on-accent);

  @each $name in $clr-custom-names {
    --clr-#{$name}: var(--clr-#{$theme}-#{$name});
  }
}
@mixin gen-theme-shadow($theme) {
  --clr-shadow-100: var(--clr-#{$theme}-shadow-100);
  --clr-shadow-30: var(--clr-#{$theme}-shadow-30);
  --clr-shadow-20: var(--clr-#{$theme}-shadow-20);
  --clr-shadow-10: var(--clr-#{$theme}-shadow-10);
}
@mixin base-theme($theme) {
  :root {
    @include gen-theme($theme);
  }
  :root,
  dialog::backdrop {
    @include gen-theme-shadow($theme);
  }
}

@mixin light-base {
  @include base-theme("light");
}
@mixin dark-base {
  @include base-theme("dark");
  :root,
  dialog::backdrop {
    color-scheme: dark;
  }
}
@mixin light-div {
  @include gen-theme("light");
  @include gen-theme-shadow("light");
}
@mixin dark-div {
  @include gen-theme("dark");
  @include gen-theme-shadow("dark");
  color-scheme: dark;
}

// Set default theme to light unless the user prefers dark.
@include light-base;
@media (prefers-color-scheme: dark) {
  @include dark-base;
}
