// == LIGHT MODE ==
@function gen-light-paper($hue, $shade) {
  @return hsl($hue, calc(25% + $shade * 0.5%), calc(90% + $shade * 0.35%));
}
@function gen-light-ink($hue, $shade) {
  @return hsla($hue, 100%, calc(20% - $shade * 0.2%), calc($shade * 1%));
}
@mixin clrs-light-shadow {
  --clr-light-shadow-100: black;
  --clr-light-shadow-70: rgba(black, 70%);
  --clr-light-shadow-40: rgba(black, 40%);
  --clr-light-shadow-10: rgba(black, 10%);
}
:root {
  --clr-light-paper-0: #{gen-light-paper(220, 0)};
  --clr-light-paper-10: #{gen-light-paper(220, 10)};
  --clr-light-paper-20: #{gen-light-paper(220, 20)};
  --clr-light-paper-30: #{gen-light-paper(220, 30)};

  --clr-light-ink-100: #{gen-light-ink(220, 100)};
  --clr-light-ink-90: #{gen-light-ink(220, 90)};
  --clr-light-ink-80: #{gen-light-ink(220, 80)};
  --clr-light-ink-70: #{gen-light-ink(220, 70)};
  --clr-light-ink-60: #{gen-light-ink(220, 60)};
  --clr-light-ink-50: #{gen-light-ink(220, 50)};
  --clr-light-ink-40: #{gen-light-ink(220, 40)};
  --clr-light-ink-30: #{gen-light-ink(220, 30)};
  --clr-light-ink-20: #{gen-light-ink(220, 20)};
  --clr-light-ink-10: #{gen-light-ink(220, 10)};

  @include clrs-light-shadow;

  --clr-light-accent: hsl(220, 70%, 50%);
}
dialog::backdrop {
  @include clrs-light-shadow;
}
@mixin light {
  :root {
    --clr-paper-0: var(--clr-light-paper-0);
    --clr-paper-10: var(--clr-light-paper-10);
    --clr-paper-20: var(--clr-light-paper-20);
    --clr-paper-30: var(--clr-light-paper-30);

    --clr-ink-100: var(--clr-light-ink-100);
    --clr-ink-90: var(--clr-light-ink-90);
    --clr-ink-80: var(--clr-light-ink-80);
    --clr-ink-70: var(--clr-light-ink-70);
    --clr-ink-60: var(--clr-light-ink-60);
    --clr-ink-50: var(--clr-light-ink-50);
    --clr-ink-40: var(--clr-light-ink-40);
    --clr-ink-30: var(--clr-light-ink-30);
    --clr-ink-20: var(--clr-light-ink-20);
    --clr-ink-10: var(--clr-light-ink-10);

    --clr-shadow-100: var(--clr-light-shadow-100);
    --clr-shadow-80: var(--clr-light-shadow-80);
    --clr-shadow-50: var(--clr-light-shadow-50);
    --clr-shadow-20: var(--clr-light-shadow-20);

    --clr-accent: var(--clr-light-accent);
  }
  dialog::backdrop {
    --clr-shadow-100: var(--clr-light-shadow-100);
    --clr-shadow-80: var(--clr-light-shadow-80);
    --clr-shadow-50: var(--clr-light-shadow-50);
    --clr-shadow-20: var(--clr-light-shadow-20);
  }
}
// == END LIGHT MODE COLORS ==

// == DARK MODE COLORS ==
@function gen-dark-paper($hue, $shade) {
  @return hsl($hue, calc(15% + $shade * 0.1%), calc(2% + $shade * 0.5%));
}
@function gen-dark-ink($hue, $shade) {
  @return hsla($hue, 100%, calc(80% + $shade * 0.2%), calc($shade * 1%));
}
@mixin clrs-dark-shadow {
  --clr-dark-shadow-100: black;
  --clr-dark-shadow-70: rgba(black, 70%);
  --clr-dark-shadow-40: rgba(black, 40%);
  --clr-dark-shadow-10: rgba(black, 10%);
}
:root {
  --clr-dark-paper-0: #{gen-dark-paper(220, 0)};
  --clr-dark-paper-10: #{gen-dark-paper(220, 10)};
  --clr-dark-paper-20: #{gen-dark-paper(220, 20)};
  --clr-dark-paper-30: #{gen-dark-paper(220, 30)};

  --clr-dark-ink-100: #{gen-dark-ink(220, 100)};
  --clr-dark-ink-90: #{gen-dark-ink(220, 90)};
  --clr-dark-ink-80: #{gen-dark-ink(220, 80)};
  --clr-dark-ink-70: #{gen-dark-ink(220, 70)};
  --clr-dark-ink-60: #{gen-dark-ink(220, 60)};
  --clr-dark-ink-50: #{gen-dark-ink(220, 50)};
  --clr-dark-ink-40: #{gen-dark-ink(220, 40)};
  --clr-dark-ink-30: #{gen-dark-ink(220, 30)};
  --clr-dark-ink-20: #{gen-dark-ink(220, 20)};
  --clr-dark-ink-10: #{gen-dark-ink(220, 10)};

  @include clrs-dark-shadow;

  --clr-dark-accent: hsl(220, 100%, 70%);
}
dialog::backdrop {
  @include clrs-dark-shadow;
}
@mixin dark {
  :root {
    --clr-paper-0: var(--clr-dark-paper-0);
    --clr-paper-10: var(--clr-dark-paper-10);
    --clr-paper-20: var(--clr-dark-paper-20);
    --clr-paper-30: var(--clr-dark-paper-30);

    --clr-ink-100: var(--clr-dark-ink-100);
    --clr-ink-90: var(--clr-dark-ink-90);
    --clr-ink-80: var(--clr-dark-ink-80);
    --clr-ink-70: var(--clr-dark-ink-70);
    --clr-ink-60: var(--clr-dark-ink-60);
    --clr-ink-50: var(--clr-dark-ink-50);
    --clr-ink-40: var(--clr-dark-ink-40);
    --clr-ink-30: var(--clr-dark-ink-30);
    --clr-ink-20: var(--clr-dark-ink-20);
    --clr-ink-10: var(--clr-dark-ink-10);

    --clr-shadow-100: var(--clr-dark-shadow-100);
    --clr-shadow-80: var(--clr-dark-shadow-80);
    --clr-shadow-50: var(--clr-dark-shadow-50);
    --clr-shadow-20: var(--clr-dark-shadow-20);

    --clr-accent: var(--clr-dark-accent);
  }
  dialog::backdrop {
    --clr-shadow-100: var(--clr-dark-shadow-100);
    --clr-shadow-80: var(--clr-dark-shadow-80);
    --clr-shadow-50: var(--clr-dark-shadow-50);
    --clr-shadow-20: var(--clr-dark-shadow-20);
  }
}
// == END DARK MODE COLORS ==

@mixin bg-paper-0 {
  background-color: var(--clr-paper-0);
}
@mixin bg-paper-10 {
  background-color: var(--clr-paper-10);
}
@mixin bg-paper-20 {
  background-color: var(--clr-paper-20);
}
@mixin bg-paper-30 {
  background-color: var(--clr-paper-30);
}

// Set default theme to light.
@include light;
body {
  @include bg-paper-10;
}
