:root {
  --col-surface-0-light: hsl(220, 30%, 90%);
  --col-surface-1-light: hsl(220, 35%, 95%);
  --col-surface-2-light: hsl(220, 35%, 98%);
  --col-surface-3-light: hsl(220, 40%, 100%);
  --col-on-surface-light: black;
  --col-accent-light: hsl(210, 100%, 40%);

  --col-surface-0-dark: hsl(220, 10%, 7%);
  --col-surface-1-dark: hsl(220, 10%, 10%);
  --col-surface-2-dark: hsl(220, 10%, 13%);
  --col-surface-3-dark: hsl(220, 10%, 15%);
  --col-on-surface-dark: white;
  --col-accent-dark: hsl(210, 100%, 80%);
}

@mixin light {
  --col-surface-0: var(--col-surface-0-light);
  --col-surface-1: var(--col-surface-1-light);
  --col-surface-2: var(--col-surface-2-light);
  --col-surface-3: var(--col-surface-3-light);
  --col-on-surface: var(--col-on-surface-light);
  --col-accent: var(--col-accent-light);
}
.light {
  @include light;
}

@mixin dark {
  --col-surface-0: var(--col-surface-0-dark);
  --col-surface-1: var(--col-surface-1-dark);
  --col-surface-2: var(--col-surface-2-dark);
  --col-surface-3: var(--col-surface-3-dark);
  --col-on-surface: var(--col-on-surface-dark);
  --col-accent: var(--col-accent-dark);
}
.dark {
  @include dark;
}

@mixin level-0 {
  background-color: var(--col-surface-0);
}
.level-0 {
  @include level-0();
}
@mixin level-1 {
  background-color: var(--col-surface-1);
}
.level-1 {
  @include level-1();
}
@mixin level-2 {
  background-color: var(--col-surface-2);
}
.level-2 {
  @include level-2();
}
@mixin level-3 {
  background-color: var(--col-surface-3);
}
.level-3 {
  @include level-3();
}

:root {
  @include light();
}
body {
  @include level-1();
}
