@function gen-light-surface-color($hue, $shade) {
  @return hsl($hue, calc(25% + $shade * 0.5%), calc(80% + $shade * 0.4%));
}
@function gen-dark-surface-color($hue, $shade) {
  @return hsl($hue, calc(15% + $shade * 0.1%), calc(10% + $shade * 0.3%));
}
:root {
  --clr-light-surface-0: #{gen-light-surface-color(220, 0)};
  --clr-light-surface-10: #{gen-light-surface-color(220, 10)};
  --clr-light-surface-20: #{gen-light-surface-color(220, 20)};
  --clr-light-surface-30: #{gen-light-surface-color(220, 30)};

  --clr-dark-surface-0: #{gen-dark-surface-color(220, 0)};
  --clr-dark-surface-10: #{gen-dark-surface-color(220, 10)};
  --clr-dark-surface-20: #{gen-dark-surface-color(220, 20)};
  --clr-dark-surface-30: #{gen-dark-surface-color(220, 30)};
}

@mixin light {
  --clr-theme-surface-0: var(--clr-light-surface-0);
  --clr-theme-surface-10: var(--clr-light-surface-10);
  --clr-theme-surface-20: var(--clr-light-surface-20);
  --clr-theme-surface-30: var(--clr-light-surface-30);
}
.light {
  @include light;
}

@mixin dark {
  --clr-theme-surface-0: var(--clr-dark-surface-0);
  --clr-theme-surface-10: var(--clr-dark-surface-10);
  --clr-theme-surface-20: var(--clr-dark-surface-20);
  --clr-theme-surface-30: var(--clr-dark-surface-30);
}
.dark {
  @include dark;
}

@mixin bg-clr-surface-0 {
  background-color: var(--clr-theme-surface-0);
}
@mixin bg-clr-surface-10 {
  background-color: var(--clr-theme-surface-10);
}
@mixin bg-clr-surface-20 {
  background-color: var(--clr-theme-surface-20);
}
@mixin bg-clr-surface-30 {
  background-color: var(--clr-theme-surface-30);
}

:root {
  @include light;
}
body {
  @include bg-clr-surface-10;
}
