@mixin gone {
  display: none !important;
}
@mixin row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin flex-grow {
  flex-grow: 1;
  flex-direction: inherit;
}
@mixin flip-180 {
  transform: rotate(180deg);
}
