button {
  -moz-appearance: none;
  -webkit-appearance: none;
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

.link {
  --link-col: var(--col-accent);
  color: var(--link-col);
  text-decoration: underline transparent;
  transition: text-decoration-color 0.1s;
}
.link:hover {
  text-decoration: underline var(--link-col);
}

:root {
  --col-surface-0-light: hsl(220, 30%, 90%);
  --col-surface-1-light: hsl(220, 35%, 95%);
  --col-surface-2-light: hsl(220, 35%, 98%);
  --col-surface-3-light: hsl(220, 40%, 100%);
  --col-on-surface-light: black;
  --col-accent-light: hsl(210, 100%, 40%);
  --col-surface-0-dark: hsl(220, 10%, 7%);
  --col-surface-1-dark: hsl(220, 10%, 10%);
  --col-surface-2-dark: hsl(220, 10%, 13%);
  --col-surface-3-dark: hsl(220, 10%, 15%);
  --col-on-surface-dark: white;
  --col-accent-dark: hsl(210, 100%, 80%);
}

.light {
  --col-surface-0: var(--col-surface-0-light);
  --col-surface-1: var(--col-surface-1-light);
  --col-surface-2: var(--col-surface-2-light);
  --col-surface-3: var(--col-surface-3-light);
  --col-on-surface: var(--col-on-surface-light);
  --col-accent: var(--col-accent-light);
}

.dark {
  --col-surface-0: var(--col-surface-0-dark);
  --col-surface-1: var(--col-surface-1-dark);
  --col-surface-2: var(--col-surface-2-dark);
  --col-surface-3: var(--col-surface-3-dark);
  --col-on-surface: var(--col-on-surface-dark);
  --col-accent: var(--col-accent-dark);
}

.level-0 {
  background-color: var(--col-surface-0);
}

.level-1 {
  background-color: var(--col-surface-1);
}

.level-2 {
  background-color: var(--col-surface-2);
}

.level-3 {
  background-color: var(--col-surface-3);
}

:root {
  --col-surface-0: var(--col-surface-0-light);
  --col-surface-1: var(--col-surface-1-light);
  --col-surface-2: var(--col-surface-2-light);
  --col-surface-3: var(--col-surface-3-light);
  --col-on-surface: var(--col-on-surface-light);
  --col-accent: var(--col-accent-light);
}

body {
  background-color: var(--col-surface-1);
}

:root {
  --font-default: sans-serif;
  --line-spacing: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font-default);
  font-size: 1rem;
  font-weight: normal;
  color: var(--col-on-surface);
  line-height: calc(1em + var(--line-spacing));
}
h1::before, h1::after,
h2::before,
h2::after,
h3::before,
h3::after,
h4::before,
h4::after,
h5::before,
h5::after,
h6::before,
h6::after,
p::before,
p::after {
  content: "";
  margin-top: calc(var(--line-spacing) / -2);
  height: 0;
  display: block;
}

i,
em {
  font: inherit;
  font-style: italic;
}

b,
strong {
  font: inherit;
  font-weight: bold;
}

.one-line > :is(h1, h2, h3, h4, h5, h6, p) {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 0.25em;
}
.one-line::after {
  content: "";
  margin-bottom: -0.25em;
  height: 0;
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div,
button {
  display: flex;
  flex-direction: column;
}

:root {
  --font-default: "Source Sans Pro";
}

.light,
.dark {
  padding: 24px;
}
.light > *:not(:last-child),
.dark > *:not(:last-child) {
  margin-bottom: 12px;
}

/*# sourceMappingURL=index.css.map */
