@use "../scss/css-template";

:root {
  --font-default: "Source Sans Pro";
}
.light,
.dark {
  padding: 24px;
  & > *:not(:last-child) {
    margin-bottom: 12px;
  }
}
.test-button-row {
  @include css-template.row;
  flex-wrap: wrap;

  margin-top: 12px;
  margin-right: -8px;
  margin-bottom: -8px;
  button {
    margin-right: 8px;
    margin-bottom: 8px;
  }
}
