.gone {
  display: none !important;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
  flex-direction: inherit;
}

.flip-180 {
  transform: rotate(180deg);
}

:root {
  --btn-rounding: 4px;
  --btn-outline: 1px;
}

button {
  -webkit-tap-highlight-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.btn-basic {
  --btn-col-comps: var(--col-on-surface-comps);
  --btn-col-bg: transparent;
  --btn-col-bg-hover: hsla(var(--btn-col-comps), 10%);
  --btn-col-bg-active: hsla(var(--btn-col-comps), 20%);
  --btn-col-outline: transparent;
  --btn-col-outline-hover: transparent;
  --btn-col-outline-active: transparent;
  --btn-col-content: var(--col-on-surface);
  --btn-col-content-hover: var(--col-on-surface);
  --btn-col-content-active: var(--col-on-surface);
  position: relative;
  color: var(--btn-col-content);
}
.btn-basic > * {
  z-index: 1;
}
.btn-basic::before {
  content: "";
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--btn-col-bg);
  border-radius: var(--btn-rounding);
  transition: background-color 0.1s, border-color 0.1s, color 0.1s;
  border: var(--btn-outline) solid var(--btn-col-outline);
}
.btn-basic:hover, .btn-basic:focus-visible {
  color: var(--btn-col-content-hover);
}
.btn-basic:hover::before, .btn-basic:focus-visible::before {
  background-color: var(--btn-col-bg-hover);
  border-color: var(--btn-col-outline-hover);
}
.btn-basic:active {
  color: var(--btn-col-content-active);
}
.btn-basic:active::before {
  background-color: var(--btn-col-bg-active);
  border-color: var(--btn-col-outline-active);
}

.btn-subtle {
  --btn-col-comps: var(--col-on-surface-comps);
  --btn-col-bg: transparent;
  --btn-col-bg-hover: hsla(var(--btn-col-comps), 10%);
  --btn-col-bg-active: hsla(var(--btn-col-comps), 20%);
  --btn-col-outline: transparent;
  --btn-col-outline-hover: transparent;
  --btn-col-outline-active: transparent;
  --btn-col-content: var(--col-on-surface);
  --btn-col-content-hover: var(--col-on-surface);
  --btn-col-content-active: var(--col-on-surface);
  position: relative;
  color: var(--btn-col-content);
  --btn-col-bg: transparent;
  --btn-col-bg-hover: transparent;
  --btn-col-bg-active: transparent;
  --btn-col-content: var(--col-on-surface);
  --btn-col-content-hover: hsla(var(--col-on-surface-comps), 100%);
  --btn-col-content-active: hsla(var(--col-on-surface-comps), 70%);
}
.btn-subtle > * {
  z-index: 1;
}
.btn-subtle::before {
  content: "";
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--btn-col-bg);
  border-radius: var(--btn-rounding);
  transition: background-color 0.1s, border-color 0.1s, color 0.1s;
  border: var(--btn-outline) solid var(--btn-col-outline);
}
.btn-subtle:hover, .btn-subtle:focus-visible {
  color: var(--btn-col-content-hover);
}
.btn-subtle:hover::before, .btn-subtle:focus-visible::before {
  background-color: var(--btn-col-bg-hover);
  border-color: var(--btn-col-outline-hover);
}
.btn-subtle:active {
  color: var(--btn-col-content-active);
}
.btn-subtle:active::before {
  background-color: var(--btn-col-bg-active);
  border-color: var(--btn-col-outline-active);
}

.btn-outline {
  --btn-col-comps: var(--col-on-surface-comps);
  --btn-col-bg: transparent;
  --btn-col-bg-hover: hsla(var(--btn-col-comps), 10%);
  --btn-col-bg-active: hsla(var(--btn-col-comps), 20%);
  --btn-col-outline: transparent;
  --btn-col-outline-hover: transparent;
  --btn-col-outline-active: transparent;
  --btn-col-content: var(--col-on-surface);
  --btn-col-content-hover: var(--col-on-surface);
  --btn-col-content-active: var(--col-on-surface);
  position: relative;
  color: var(--btn-col-content);
  --btn-col-outline: hsla(var(--btn-col-comps), 20%);
  --btn-col-outline-hover: hsla(var(--btn-col-comps), 20%);
  --btn-col-outline-active: hsla(var(--btn-col-comps), 20%);
}
.btn-outline > * {
  z-index: 1;
}
.btn-outline::before {
  content: "";
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--btn-col-bg);
  border-radius: var(--btn-rounding);
  transition: background-color 0.1s, border-color 0.1s, color 0.1s;
  border: var(--btn-outline) solid var(--btn-col-outline);
}
.btn-outline:hover, .btn-outline:focus-visible {
  color: var(--btn-col-content-hover);
}
.btn-outline:hover::before, .btn-outline:focus-visible::before {
  background-color: var(--btn-col-bg-hover);
  border-color: var(--btn-col-outline-hover);
}
.btn-outline:active {
  color: var(--btn-col-content-active);
}
.btn-outline:active::before {
  background-color: var(--btn-col-bg-active);
  border-color: var(--btn-col-outline-active);
}

.btn-accent {
  --btn-col-comps: var(--col-on-surface-comps);
  --btn-col-bg: transparent;
  --btn-col-bg-hover: hsla(var(--btn-col-comps), 10%);
  --btn-col-bg-active: hsla(var(--btn-col-comps), 20%);
  --btn-col-outline: transparent;
  --btn-col-outline-hover: transparent;
  --btn-col-outline-active: transparent;
  --btn-col-content: var(--col-on-surface);
  --btn-col-content-hover: var(--col-on-surface);
  --btn-col-content-active: var(--col-on-surface);
  position: relative;
  color: var(--btn-col-content);
  --btn-col-bg: hsla(var(--col-accent-comps), 100%);
  --btn-col-bg-hover: hsla(var(--col-accent-comps), 90%);
  --btn-col-bg-active: hsla(var(--col-accent-comps), 80%);
  --btn-col-content: var(--col-on-accent-strong);
  --btn-col-content-hover: var(--col-on-accent-strong);
  --btn-col-content-active: var(--col-on-accent-strong);
}
.btn-accent > * {
  z-index: 1;
}
.btn-accent::before {
  content: "";
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--btn-col-bg);
  border-radius: var(--btn-rounding);
  transition: background-color 0.1s, border-color 0.1s, color 0.1s;
  border: var(--btn-outline) solid var(--btn-col-outline);
}
.btn-accent:hover, .btn-accent:focus-visible {
  color: var(--btn-col-content-hover);
}
.btn-accent:hover::before, .btn-accent:focus-visible::before {
  background-color: var(--btn-col-bg-hover);
  border-color: var(--btn-col-outline-hover);
}
.btn-accent:active {
  color: var(--btn-col-content-active);
}
.btn-accent:active::before {
  background-color: var(--btn-col-bg-active);
  border-color: var(--btn-col-outline-active);
}

.btn-content-icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-content-icon > .iconify {
  color: inherit;
  font-size: 1.2rem;
}

.btn-content-icon-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  display: grid;
  grid-template-columns: 32px auto;
}
.btn-content-icon-text > svg {
  grid-column: 1;
  color: inherit;
  font-size: 1.2rem;
  justify-self: center;
  align-self: center;
}
.btn-content-icon-text > p {
  grid-column: 2;
  color: inherit;
  margin-right: 8px;
  justify-self: start;
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  font: inherit;
}

.link {
  --link-col: var(--col-accent);
  color: var(--link-col);
  text-decoration: underline transparent;
  transition: text-decoration-color 0.1s;
  outline: none;
}
.link:hover, .link:focus-visible {
  text-decoration: underline var(--link-col);
}

:root {
  --clr-light-surface-0: hsl(220deg, 25%, 80%);
  --clr-light-surface-10: hsl(220deg, 30%, 84%);
  --clr-light-surface-20: hsl(220deg, 35%, 88%);
  --clr-light-surface-30: hsl(220deg, 40%, 92%);
  --clr-dark-surface-0: hsl(220deg, 15%, 10%);
  --clr-dark-surface-10: hsl(220deg, 16%, 13%);
  --clr-dark-surface-20: hsl(220deg, 17%, 16%);
  --clr-dark-surface-30: hsl(220deg, 18%, 19%);
}

.light {
  --clr-theme-surface-0: var(--clr-light-surface-0);
  --clr-theme-surface-10: var(--clr-light-surface-10);
  --clr-theme-surface-20: var(--clr-light-surface-20);
  --clr-theme-surface-30: var(--clr-light-surface-30);
}

.dark {
  --clr-theme-surface-0: var(--clr-dark-surface-0);
  --clr-theme-surface-10: var(--clr-dark-surface-10);
  --clr-theme-surface-20: var(--clr-dark-surface-20);
  --clr-theme-surface-30: var(--clr-dark-surface-30);
}

:root {
  --clr-theme-surface-0: var(--clr-light-surface-0);
  --clr-theme-surface-10: var(--clr-light-surface-10);
  --clr-theme-surface-20: var(--clr-light-surface-20);
  --clr-theme-surface-30: var(--clr-light-surface-30);
}

body {
  background-color: var(--clr-theme-surface-10);
}

:root {
  --font-default: sans-serif;
  --line-spacing: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font-default);
  font-size: 1rem;
  font-weight: normal;
  line-height: calc(1em + var(--line-spacing));
}
h1::before, h1::after,
h2::before,
h2::after,
h3::before,
h3::after,
h4::before,
h4::after,
h5::before,
h5::after,
h6::before,
h6::after,
p::before,
p::after {
  content: "";
  margin-top: calc(var(--line-spacing) / -2);
  height: 0;
  display: block;
}

i,
em,
b,
strong,
span {
  font: inherit;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

.one-line > :is(h1, h2, h3, h4, h5, h6, p) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 0.25em;
}
.one-line::after {
  content: "";
  margin-bottom: -0.25em;
  height: 0;
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

div,
main,
section,
header,
footer,
aside,
button,
body {
  display: flex;
  flex-direction: column;
}

:root {
  --font-default: "Poppins";
}

body {
  min-height: 100vh;
  background-color: rgb(80, 80, 80);
  justify-content: center;
  align-items: center;
}

.theme-panel:nth-child(1) {
  --clr-theme-surface-0: var(--clr-light-surface-0);
  --clr-theme-surface-10: var(--clr-light-surface-10);
  --clr-theme-surface-20: var(--clr-light-surface-20);
  --clr-theme-surface-30: var(--clr-light-surface-30);
}
.theme-panel:nth-child(2) {
  --clr-theme-surface-0: var(--clr-dark-surface-0);
  --clr-theme-surface-10: var(--clr-dark-surface-10);
  --clr-theme-surface-20: var(--clr-dark-surface-20);
  --clr-theme-surface-30: var(--clr-dark-surface-30);
}

.swatch {
  padding: 24px;
}
.swatch h1 {
  margin-bottom: 4px;
  font-size: 1.5rem;
  font-weight: bold;
}
.swatch h2 {
  margin-bottom: 16px;
  font-size: 0.8rem;
}
.swatch:nth-child(1) {
  background-color: var(--clr-theme-surface-30);
}
.swatch:nth-child(2) {
  background-color: var(--clr-theme-surface-20);
}
.swatch:nth-child(3) {
  background-color: var(--clr-theme-surface-10);
}
.swatch:nth-child(4) {
  background-color: var(--clr-theme-surface-0);
}

@media screen and (min-width: 600px) {
  body {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .theme-panel {
    max-width: 400px;
  }
}

/*# sourceMappingURL=index.css.map */
