@use 'theme';

$button-selectors: 'button, input[type=button], input[type=submit], input[type=reset], a.button';

#{$button-selectors} {
    height: 40px;
    padding: 0px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    outline: none;
    font-size: theme.$font-size;
}

a.button {
    text-decoration: none;
}

.light {
    #{$button-selectors} {
        background-color: theme.$color-l-button-bg;
        border: 1px solid theme.$color-l-button-border;

        &:hover {
            background-color: theme.$color-l-button-bg-hover;
            border: 1px solid theme.$color-l-button-border-hover;
        }
        &:active {
            background-color: theme.$color-l-button-bg-active;
            border: 1px solid theme.$color-l-button-border-active;
        }
        // &:focus {
        //     border: 1px solid theme.$color-l-button-border-focus;
        // }
        &:disabled, &[disabled] {
            background-color: transparent;
            opacity: 0.5;
            border: 1px solid theme.$color-l-button-border;
        }
        &.selected {
            border: 2px solid theme.$color-l-accent;
        }
    }

}
.dark {
    #{$button-selectors} {
        background-color: theme.$color-d-button-bg;
        border: 1px solid theme.$color-d-button-border;

        &:hover {
            background-color: theme.$color-d-button-bg-hover;
            border: 1px solid theme.$color-d-button-border-hover;
        }
        &:active {
            background-color: theme.$color-d-button-bg-active;
            border: 1px solid theme.$color-d-button-border-active;
        }
        // &:focus {
        //     border: 1px solid theme.$color-d-button-border-focus;
        // }
        &:disabled, &[disabled] {
            background-color: transparent;
            opacity: 0.5;
            border: 1px solid theme.$color-d-button-border;
        }
        &.selected {
            border: 2px solid theme.$color-d-accent;
        }
    }
}