@use 'theme';

$input-selectors-except-textarea: 
    'input[type=text], input[type=password], input[type=search], input[type=url], input[type=date], input[type=datetime-local], ' + 
    'input[type=email], input[type=month], input[type=number], input[type=tel], input[type=time], input[type=week]';
$input-selectors: $input-selectors-except-textarea + ', textarea';

#{$input-selectors} {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    outline: none;
    font-size: theme.$font-size;
    padding: 0px 10px;
}
#{$input-selectors-except-textarea} {
    height: 40px;
}
input[type=date], input[type=datetime-local] {
    flex-direction: row;
}
textarea {
    padding: 10px 12px;
}
input[type=number] {
    padding-right: 6px;
}
input[type=color] {
    background-color: transparent;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
}

.light {
    #{$input-selectors} {
        background-color: theme.$color-l-input-bg;
        border: 1px solid theme.$color-l-input-border;

        &:hover {
            border: 1px solid theme.$color-l-input-border-hover;
        }
        &:focus {
            border: 1px solid theme.$color-l-accent;
            box-shadow: 0px 1px 2px theme.$color-l-input-shadow;
        }
        &:disabled, &[disabled] {
            opacity: 0.5;
            background-color: transparent;
        }
    }

    // Placeholder text colors
    ::placeholder {
        color: theme.$color-l-text-weak;
        opacity: 1;
    }
}
.dark {
    #{$input-selectors} {
        background-color: theme.$color-d-input-bg;
        border: 1px solid theme.$color-d-input-border;

        &:hover {
            border: 1px solid theme.$color-d-input-border-hover;
        }
        &:focus {
            border: 1px solid theme.$color-d-accent;
            box-shadow: 0px 1px 2px theme.$color-d-input-shadow;
        }
        &:disabled, &[disabled] {
            opacity: 0.5;
            background-color: transparent;
        }
    }
    
    // Placeholder text colors
    ::placeholder {
        color: theme.$color-d-text-weak;
        opacity: 1;
    }
}