@use 'theme';

label.picker-subtle {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        // todo: use sass mixin (it's the same as .no-select)
        -webkit-touch-callout: none; // iOS Safari
        -webkit-user-select: none; // Safari
        -khtml-user-select: none; // Konqueror HTML
        -moz-user-select: none; // Old versions of Firefox
        -ms-user-select: none; // Internet Explorer/Edge
        user-select: none; // Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox
    }
    input[type="radio"] {
        height: 0;
        width: 0;

        &:checked+p {
            font-weight: bold;
        }
    }
}

.dark {
    label.picker-subtle input[type="radio"] {
        +p {
            color: theme.$color-d-picker-subtle;
        }
        &:hover+p {
            color: theme.$color-d-picker-subtle-hover;

        }
        &:active+p {
            color: theme.$color-d-picker-subtle-active;
        }
        &:disabled+p {
            opacity: 0.5;
        }
        &:checked+p {
            color: theme.$color-d-picker-subtle-check;
        }
    }
}

.light {
    label.picker-subtle input[type="radio"] {
        +p {
            color: theme.$color-l-picker-subtle;
        }
        &:hover+p {
            color: theme.$color-l-picker-subtle-hover;

        }
        &:active+p {
            color: theme.$color-l-picker-subtle-active;
        }
        &:disabled+p {
            opacity: 0.5;
        }
        &:checked+p {
            color: theme.$color-l-picker-subtle-check;
        }
    }
}