@use 'theme';

label.radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    p {
        margin-left: 8px;

        // todo: use sass mixin (it's the same as .no-select)
        -webkit-touch-callout: none; // iOS Safari
        -webkit-user-select: none; // Safari
        -khtml-user-select: none; // Konqueror HTML
        -moz-user-select: none; // Old versions of Firefox
        -ms-user-select: none; // Internet Explorer/Edge
        user-select: none; // Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox
    }
    input[type="radio"] {
        border-radius: 12px;
        width: 24px;
        height: 24px;

        +.radio-check {
            position: absolute;
            pointer-events: none;
            left: 7px;
            top: 7px;
            opacity: 0;
            width: 10px;
            height: 10px;
            border-radius: 6px;
        }
        &:checked+.radio-check {
            opacity: 1;
        }
    }
}

.dark {
    label.radio input[type="radio"] {
        background: theme.$color-d-radio-bg;
        border: 1px solid theme.$color-d-radio-border;
    
        &:hover {
            background: theme.$color-d-radio-bg-hover;
            border: 1px solid theme.$color-d-radio-border-hover;
        }
        &:active {
            background: theme.$color-d-radio-bg-active;
            border: 1px solid theme.$color-d-radio-border-active;
        }
        &:focus {
            border: 1px solid theme.$color-d-radio-border-active;
        }
        &:disabled {
            background-color: transparent;
            opacity: 0.5;
            border: 1px solid theme.$color-d-radio-border;
        }
        &:checked {
            border: 2px solid theme.$color-d-radio-check;
        }
        +.radio-check {
            background-color: theme.$color-d-radio-check;
        }
    }
}
.light {
    label.radio input[type="radio"] {
        background: theme.$color-l-radio-bg;
        border: 1px solid theme.$color-l-radio-border;
    
        &:checked {
            background: theme.$color-l-radio-bg-hover;
        }
        &:hover {
            background: theme.$color-l-radio-bg-hover;
            border: 1px solid theme.$color-l-radio-border-hover;
        }
        &:active {
            background: theme.$color-l-radio-bg-active;
            border: 1px solid theme.$color-l-radio-border-active;
        }
        &:focus {
            border: 1px solid theme.$color-l-radio-border-active;
        }
        &:disabled {
            background-color: transparent;
            opacity: 0.5;
            border: 1px solid theme.$color-l-radio-border;
        }
        &:checked {
            border: 2px solid theme.$color-l-radio-check;
        }
        +.radio-check {
            background-color: theme.$color-l-radio-check;
        }
    }
}
