@use 'theme';

body.light {
    background-color: theme.$color-l-bg0;
}
body.dark {
    background-color: theme.$color-d-bg0;
}

.light.level0, .light .level0 {
    background-color: theme.$color-l-bg0;
}
.light.level1, .light .level1 {
    background-color: theme.$color-l-bg1;
}
.light.level2, .light .level2 {
    background-color: theme.$color-l-bg2;
}
.light.level3, .light .level3 {
    background-color: theme.$color-l-bg3;
}

.dark.level0, .dark .level0 {
    background-color: theme.$color-d-bg0;
}
.dark.level1, .dark .level1 {
    background-color: theme.$color-d-bg1;
}
.dark.level2, .dark .level2 {
    background-color: theme.$color-d-bg2;
}
.dark.level3, .dark .level3 {
    background-color: theme.$color-d-bg3;
}

.light {
    $color-accent: theme.$color-l-accent;
    .border {
        border: 1px solid theme.$color-l-border;
    }
    .border-top {
        border-top: 1px solid theme.$color-l-border;
    }
    .border-bottom {
        border-bottom: 1px solid theme.$color-l-border;
    }
    .border-left {
        border-left: 1px solid theme.$color-l-border;
    }
    .border-right {
        border-right: 1px solid theme.$color-l-border;
    }
    .border-accent {
        border: 1px solid theme.$color-l-accent;
    }
    .border-error {
        border: 1px solid theme.$color-l-error;
    }
    .vertical-separators {
        >:not(:last-child):not(.no-vertical-separators) {
            border-bottom: 1px solid theme.$color-l-border;
        }
    }
    .horizontal-separators {
        >:not(:last-child):not(.no-horizontal-separators) {
            border-right: 1px solid theme.$color-l-border;
        }
    }
    .dark-only {
        display: none;
    }
}
.dark {
    $color-accent: theme.$color-d-accent;
    .border {
        border: 1px solid theme.$color-d-border;
    }
    .border-top {
        border-top: 1px solid theme.$color-d-border;
    }
    .border-bottom {
        border-bottom: 1px solid theme.$color-d-border;
    }
    .border-left {
        border-left: 1px solid theme.$color-d-border;
    }
    .border-right {
        border-right: 1px solid theme.$color-d-border;
    }
    .border-accent {
        border: 1px solid theme.$color-d-accent;
    }
    .border-error {
        border: 1px solid theme.$color-d-error;
    }
    .vertical-separators {
        >:not(:last-child):not(.no-vertical-separators) {
            border-bottom: 1px solid theme.$color-d-border;
        }
    }
    .horizontal-separators {
        >:not(:last-child):not(.no-horizontal-separators) {
            border-right: 1px solid theme.$color-d-border;
        }
    }
    .light-only {
        display: none;
    }
}
.gone {
    display: none;
}
.row {
    flex-direction: row;
    align-items: center;
}
.flex-grow {
    flex-grow: 1;
    flex-direction: inherit;
}
.flip-180 {
    transform: rotate(180deg);
}

@mixin row() {
    display: flex;
    flex-direction: row;
    align-items: center;
    &.gone {
        display: none;
    }
}