@use 'theme';

* {
    font-family: theme.$font-main;
}
h1, h2, h3, h4, h5, h6 {
    font-family: theme.$font-display;
}
code {
    font-family: theme.$font-code;
    padding: 2px 4px;
    margin: -2px 0px;
}

p, th, td, button, input {
    line-height: theme.$font-main-line-height;

    &::before, &::after {
        content: "";
        margin-top: theme.$font-main-line-height-half-margin-correction;
        height: 0;
        display: block;
    }
}
h1, h2, h3, h4, h5, h6 {
    line-height: theme.$font-display-line-height;

    &::before, &::after {
        content: "";
        margin-top: theme.$font-display-line-height-half-margin-correction;
        height: 0;
        display: block;
    }
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

b {
    font-family: inherit;
    font-weight: bold;
}
span.error, p.error {
    font-family: inherit;
    font-weight: inherit;
}
span.strikethrough, p.strikethrough {
    font-family: inherit;
    font-weight: inherit;
    text-decoration: line-through;
}
.no-select {
    -webkit-touch-callout: none; // iOS Safari
    -webkit-user-select: none; // Safari
    -khtml-user-select: none; // Konqueror HTML
    -moz-user-select: none; // Old versions of Firefox
    -ms-user-select: none; // Internet Explorer/Edge
    user-select: none; // Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox
}

@mixin one-line($margin-bottom: 0px, $padding-bottom: 0px) {
    padding-bottom: calc(0.25em + $padding-bottom);
    margin-bottom: calc($margin-bottom - 0.25em);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.light {
    * {
        color: theme.$color-l-text;
    }
    em, b {
        color: inherit;
    }
    h1, h2, h3, h4,h5, h6 {
        color: theme.$color-l-text-strong;
    }
    code {
        background-color: theme.$color-l-code-bg;
    }
    a, a i {
        color: theme.$color-l-accent;
    }
    .color-accent {
        color: theme.$color-l-accent;
    }
    .color-strong {
        color: theme.$color-l-text-strong;
    }
    .color-weak {
        color: theme.$color-l-text-weak;
    }
    .color-normal {
        color: theme.$color-l-text;
    }
    .error span, .error p, .error i, span.error, p.error, i.error {
        color: theme.$color-l-error;
    }
}
.dark {
    * {
        color: theme.$color-d-text;
    }
    em, b {
        color: inherit;
    }
    h1, h2, h3, h4,h5, h6 {
        color: theme.$color-d-text-strong;
    }
    code {
        background-color: theme.$color-d-code-bg;
    }
    a, a i {
        color: theme.$color-d-accent;
    }
    .color-accent {
        color: theme.$color-d-accent;
    }
    .color-strong {
        color: theme.$color-d-text-strong;
    }
    .color-weak {
        color: theme.$color-d-text-weak;
    }
    .color-normal {
        color: theme.$color-d-text;
    }
    .error span, .error p, .error i, span.error, p.error, i.error {
        color: theme.$color-d-error;
    }
}