@mixin base(
  $highlight-class: "select-highlight",
  $arrow-class: "select-arrow"
) {
  position: relative;

  select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    // Clickable elements should always use pointer cursor in my opinion.
    cursor: pointer;

    &[disabled],
    &:disabled {
      cursor: default;
    }
  }
  option {
    color: black;
  }

  .#{$highlight-class} {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--input-rounding);
  }
  .#{$arrow-class} {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    pointer-events: none;
    background-color: var(--color-ink-80);
  }
}
