@use "../utils";

@mixin base($content-class: "picker-content") {
  @include utils.no-select;

  > label {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;

    cursor: pointer;

    & > input[type="radio"] {
      position: fixed;
      opacity: 0;
      pointer-events: none;
    }
    & > input[type="radio"] + .#{$content-class} {
      --content-color: var(--color-text);
    }
  }
}
