@use "../utils";

@mixin base($content-class: "picker-content") {
  @include utils.no-select;

  > label {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;

    --content-color: var(--color-ink-80);
    --content-color-transition: 0.1s;

    cursor: pointer;

    & > input[type="radio"] {
      position: fixed;
      opacity: 0;
      pointer-events: none;
    }
  }
}
