@use "styling-base";
@use "../utils";

@mixin subtle($content-class: "picker-content") {
  @include styling-base.base($content-class: $content-class);

  & > label {
    flex-grow: 1;

    input[type="radio"] + .#{$content-class} {
      align-items: center;
      justify-content: center;

      --content-color: var(--color-text-weak);
    }
    input[type="radio"] {
      @include utils.on-hover {
        & + .#{$content-class} {
          --content-color: var(--color-accent-hover);
        }
      }
    }
    input[type="radio"]:active + .#{$content-class} {
      --content-color: var(--color-accent-active);
    }
    input[type="radio"]:checked + .#{$content-class} {
      --content-color: var(--color-accent);
      > p {
        font-weight: bold;
      }
    }
  }
}
