@use "styling-base";
@use "../utils";

@mixin tabs($content-class: "picker-content", $gap: 1rem) {
  @include styling-base.base($content-class: $content-class);
  @include utils.row;
  gap: $gap;

  & > label {
    flex-grow: 1;

    input[type="radio"] + .#{$content-class} {
      align-items: center;
      justify-content: center;
      border-bottom: 2px solid transparent;

      --content-color: var(--color-text);
    }
    input[type="radio"] {
      @include utils.on-hover {
        & + .#{$content-class} {
          border-color: var(--color-accent);
        }
      }
    }
    input[type="radio"]:checked + .#{$content-class} {
      border-color: var(--color-accent);
      > p {
        font-weight: bold;
      }
    }
  }
}
