@use "sass:meta";
@use "sass:map";

@forward "apply";
@use "apply";

@forward "built-in";
@use "built-in";

@use "color-list";

$-themes: built-in.generate() !default;
$-custom-colors: () !default;

// Called when initing the css-template library. Creates all the css custom
// properties on the root element for each swatch in each theme.
@mixin init($themes, $custom-colors) {
  @if $themes {
    $-themes: $themes !global;
  }
  @if $custom-colors {
    $-custom-colors: $custom-colors !global;
  }

  // Check that all themes have all the colors.
  @each $name, $theme in $-themes {
    @each $color-name in color-list.$color-list {
      @if not map.has-key($theme, $color-name) {
        @error "Theme '#{$name}' is missing color '#{$color-name}'.";
      }
    }
  }

  // TODO: Check that all custom colors have a value for each theme?

  @include apply.init($custom-colors: $custom-colors);
  @include default-styles;
}

@mixin default-styles {
  // Separated to support old Safari?
  :root {
    @include all-swatches;
  }
  dialog::backdrop {
    @include all-swatches;
  }

  body {
    background-color: var(--color-body-background);
  }

  // Set default theme to light unless the user prefers dark.
  @include apply.light-base;
  @media (prefers-color-scheme: dark) {
    @include apply.dark-base;
  }
}

@mixin all-swatches {
  // For each theme...
  @each $name, $theme in $-themes {
    // Add the accent/on-accent/shadow colors.
    @each $color-name in color-list.$color-list {
      --color-#{$name}-#{$color-name}: #{map.get($theme, $color-name)};
    }
  }

  // For each custom color...
  @each $color-name, $themes in $-custom-colors {
    // For each theme this custom color has a value for..
    @each $theme-name, $color in $themes {
      // Create a css custom property for this color in this theme.
      --color-#{$theme-name}-#{$color-name}: #{$color};
    }
  }
}
