@use "styling-base";

@mixin filled-neutral {
  @include styling-base.base;

  background-color: var(--color-soft);

  &:hover,
  &:focus-visible {
    background-color: var(--color-soft-hover);
  }

  &:active {
    background-color: var(--color-soft-active);
  }

  &:disabled,
  &[disabled] {
    opacity: 50%;
    background-color: transparent;
    outline: var(--button-outline) solid var(--color-ink-20);
    outline-offset: calc(-1 * var(--button-outline));
  }
}
