@use "styling-base";
@use "../utils";

@mixin filled-neutral {
  @include styling-base.base;

  background-color: var(--color-soft);

  @include utils.on-hover {
    background-color: var(--color-soft-hover);
  }

  &:active {
    background-color: var(--color-soft-active);
  }

  &:disabled,
  &[disabled] {
    opacity: 50%;
    background-color: transparent;

    // We don't use --color-soft-border-disabled because of the opacity: 50%.
    outline: var(--button-outline) solid var(--color-soft-border);
    outline-offset: calc(-1 * var(--button-outline));
  }
}
