@use "styling-base";

@mixin filled {
  @include styling-base.base;
  color: var(--color-on-accent);
  background-color: var(--color-accent);

  &:hover,
  &:focus-visible {
    background-color: var(--color-accent-hover);
  }

  &:active {
    background-color: var(--color-accent-active);
  }

  &:disabled,
  &[disabled] {
    color: var(--color-ink-80);
    opacity: 50%;
    background-color: transparent;

    // We don't use --color-soft-border-disabled because of the opacity: 50%.
    outline: var(--button-outline) solid var(--color-soft-border);
    outline-offset: calc(-1 * var(--button-outline));
  }
}
