@use "styling-base";

@mixin filled {
  @include styling-base.base;
  color: var(--color-on-accent);
  transition: opacity 0.05s;
  background-color: var(--color-accent);

  // This opacity value affects the text too, unlike how the regular buttons
  // behave, however the impact of this is minor.
  opacity: 80%;

  &:hover,
  &:focus-visible {
    opacity: 100%;
  }

  &:active {
    opacity: 60%;
  }

  &:disabled,
  &[disabled] {
    color: var(--color-ink-80);
    opacity: 50%;
    background-color: transparent;
    outline: var(--button-outline) solid var(--color-ink-20);
    outline-offset: calc(-1 * var(--button-outline));
  }
}
