@use "styling-base";

@mixin hover {
  @include styling-base.base;

  &:hover,
  &:focus-visible {
    background-color: var(--color-soft-hover);
  }

  &:active {
    background-color: var(--color-soft-active);
  }

  &:disabled,
  &[disabled] {
    opacity: 50%;
    background-color: transparent;
  }
}
