@use "styling-base";
@use "../utils";

@mixin filled-neutral {
  @include styling-base.base;

  background-color: var(--color-soft);

  @include utils.on-hover {
    background-color: var(--color-soft-hover);
  }

  &:focus {
    outline: var(--input-outline) solid var(--color-accent);
    outline-offset: calc(-1 * var(--input-outline));
  }

  &:disabled,
  &[disabled] {
    opacity: 50%;
    background-color: transparent;
    outline: var(--input-outline-disabled) solid var(--color-field-border);
    outline-offset: calc(-1 * var(--input-outline-disabled));
  }
}
