@use "styling-base";
@use "../utils";

@mixin outlined {
  @include styling-base.base;

  border: 1px solid var(--color-field-border);

  @include utils.on-hover {
    border-color: var(--color-accent-hover);
  }

  &:focus {
    outline: var(--input-outline) solid var(--color-accent);
    outline-offset: calc(-1 * var(--input-outline));
  }

  &:disabled,
  &[disabled] {
    border-color: var(--color-field-border);
    opacity: 50%;
  }
}
