@use "../utils";

@forward "classic";
@forward "filled-neutral";
@forward "filled";
@forward "hover";
@forward "outlined";
@forward "styling-base";

@mixin init {
  @include default-styles;
}

@mixin default-styles {
  :root {
    --button-rounding: 0.25rem;
    --button-outline: 1px;
  }

  button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    @include reset;
  }
}

@mixin reset {
  // Remove all special appearance from <button> tags by default, so <div>, <a>,
  // and <button> are interchangable. As for input buttons, they don't support
  // custom content (they can only have text), so they're not compatible with
  // any of the button stylings (because no puesdo-elements) or generic content.
  // However, the same reset rules apply, and we'll do our best.
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  // Clickable elements should always use pointer cursor and have
  // un-selectable innards in my opinion.
  @include utils.no-select;
  cursor: pointer;

  // Prevent double-tap to zoom (e.g. on iOS) when it occurs on buttons.
  touch-action: manipulation;

  &[disabled],
  &:disabled {
    cursor: default;
  }
}
