@use "styling-base";

@mixin filled {
  @include styling-base.base;

  --color-content: var(--color-on-accent);

  &::before {
    transition: opacity 0.05s;
    background-color: var(--color-accent);

    // Todo: in future when browsers support calculating colors dynamically,
    // use 100% opacity on the accent color, and use a darker/lighter version
    // of the color for the hover and active states. Sometimes the contrast
    // isn't great at 80% for some accent colors.
    opacity: 80%;
  }

  &:hover,
  &:focus-visible {
    &::before {
      opacity: 100%;
    }
  }

  &:active {
    &::before {
      opacity: 60%;
    }
  }

  &:disabled,
  &[disabled] {
    // Set back to normal color. 50% opacity is also applied on top of this.
    --color-content: var(--color-ink-80);

    &::before {
      // Prevent hover and active overriding this value.
      opacity: 100%;

      background-color: transparent;
      border: var(--btn-outline) solid var(--color-ink-10);
    }
  }
}
