@use "styling-base";

@mixin filled-neutral {
  @include styling-base.base;

  &::before {
    background-color: var(--color-soft);
  }

  &:hover,
  &:focus-visible {
    &::before {
      background-color: var(--color-soft-hover);
    }
  }

  &:active {
    &::before {
      background-color: var(--color-soft-active);
    }
  }

  &:disabled,
  &[disabled] {
    &::before {
      background-color: transparent;
      border: var(--button-outline) solid var(--color-ink-10);
    }
  }
}
