@use "styling-base";
@use "../utils";

@mixin filled {
  @include styling-base.base;

  --content-color: var(--color-on-accent);

  &::before {
    background-color: var(--color-accent);
  }

  @include utils.on-hover {
    &::before {
      background-color: var(--color-accent-hover);
    }
  }

  &:active {
    &::before {
      background-color: var(--color-accent-active);
    }
  }

  &:disabled,
  &[disabled] {
    // Set back to normal color. 50% opacity is also applied on top of this.
    --content-color: var(--color-text);

    &::before {
      background-color: transparent;
      border: var(--button-outline) solid var(--color-soft-border-disabled);
    }
  }
}
