@use "styling-base";

@mixin hover {
  @include styling-base.base;

  &:hover,
  &:focus-visible {
    &::before {
      background-color: var(--color-soft-hover);
    }
  }

  &:active {
    &::before {
      background-color: var(--color-soft-active);
    }
  }

  &:disabled,
  &[disabled] {
    &::before {
      background-color: transparent;
    }
  }
}
