@mixin base {
  position: relative;

  & > * {
    // Button content should display over ::before puesdo-element (used for
    // background).
    z-index: 1;
  }

  // Use puesdo-element for the button's styling so any border doesn't
  // contribute to the final size.
  //
  // Todo: change this to use the outline with negative offset hack? (Maybe not
  // just yet, because it doesn't look very nice sometimes on firefox because of
  // how it seems to round it inconsistantly with the edge pixels)
  &::before {
    // Background should display underneath any other content.
    z-index: 0;

    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    border-radius: var(--button-rounding);
  }

  &:disabled,
  &[disabled] {
    > * {
      opacity: 50%;
    }
  }
}
